<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    h1{
      color: blue;
      font-size: 45px;
      text-align: center;
      
    }
    img{
      width: 100%;
      object-fit:cover;
    }
    h2{
      font-family: normal;
      color: gray;
      font-size: 20px;
      text-align: center;
      
    }
    p{
      text-align: center:
    }

    #container{
      text-align:center;
      align-items:center;
      margin: 0 auto;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Francis Careers</title>
</head>
<body>
  <div id='container'>
      <h1>Francis Careers</h1>
      <img src="/static/text2.webp" alt="tree" height='300px'>
      <h2>About Francis</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ac est id porttitor. Praesent euismod porta egestas. Mauris aliquet elit ut efficitur laoreet. Donec vitae commodo elit, in vulputate leo. Etiam ut ultrices nulla. Praesent a neque eget mauris condimentum elementum. Suspendisse congue at ex non varius. Suspendisse tincidunt fermentum ipsum.
    
      Integer posuere eros eget eros mattis elementum. Quisque nisi elit, scelerisque id odio non, rutrum molestie justo. Duis quis urna augue. Donec eu ornare mi. Proin rhoncus nulla rutrum nisi tincidunt sollicitudin. Proin nec iaculis est. Nunc nec felis leo. Proin aliquam dignissim risus. Suspendisse potenti. Praesent sem lorem, ornare ac nisi ut, facilisis aliquam ipsum. Fusce sed lorem consequat, sodales ipsum non, ultrices leo.
    
      Nulla maximus sapien non erat dapibus pharetra. Fusce tristique tellus at mattis suscipit. In blandit sagittis dolor ac imperdiet. Suspendisse semper, libero in pulvinar lacinia, leo nunc feugiat ex, ut iaculis mi mi eget orci. Mauris scelerisque mollis lorem. Nam sit amet neque magna. Quisque sed eros scelerisque risus auctor volutpat non vestibulum mauris. In pulvinar velit tellus, vitae mollis dui fermentum eu. Donec dui turpis, consectetur ut sodales non, feugiat aliquam tellus. Duis non ex neque. Ut vel dui pellentesque, facilisis metus eget, mollis lacus.</p>
      <h2>Open Positions</h2>
      <button>Contuct Us</button>
    </div>
</body>
</html>